CompileFlags:
  Add:
    - -I/opt/homebrew/Cellar/adaptivecpp/24.10.0_1/include/AdaptiveCpp
  Remove:
    - --acpp-targets=*
    - --acpp-*
    - -fsycl
    - -fsycl-targets=*
    - -Wno-unknown-cuda-version
Diagnostics:
  Suppress:
    - drv_unknown_argument
    - unused-command-line-argument-hard-error-in-future
